/* -------------------------------------------------- */
/* DIFERENTES ESTILOS DE BOTÕES*/
/* -------------------------------------------------- */

/* Estilo geral para o botão do cabeçalho*/
/* -------------------------------------------------- */
.button{
  padding: 0.75rem 3rem;
  border-radius: 0.313rem; 
  border: 0;

  font-family:IBM Plex Sans;
  font-weight: 700;
  font-size:0.875rem;
  line-height: 1.625rem;
  text-transform: uppercase;

  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button.button {
  line-height: 1.5rem;
}

/*Botões laranjas*/
.button.orange{
  background: var(--color-secondary);
  color: var(--color-text);
}

/*Passando o mouse no botão laranja*/
.button.orange:hover {
  background: #FA9C2D;
}

/* -------------------------------------------------- */
/* BOTÃO DE ADICIOANR UM CARTÃO*/
/* -------------------------------------------------- */
.buttonCard{
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  border-radius: 0.313rem; 
  border: 0;

  width: fit-content;

  margin: 2rem;

  font-family:IBM Plex Sans;
  font-weight: 700;
  font-size:0.875rem;
  line-height: 1.625rem;
  text-transform: uppercase;

  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.buttonCard.purple{
  background: var(--color-primary);
  color: var(--color-text);
}

.buttonCard span::before{
  width: 2rem;
  height: 2rem;
  content: " "; 
  background-color: var(--color-background);
  opacity: 0.16;
  border-radius: 0.313rem; /* 5px of 16px root*/

  position: absolute;
}


.buttonCard span{
  width: 2rem;
  height: 2rem;

  margin-right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonCard span img{
  width: 1.5rem;
  height: 1.5rem;
}

.button.gray {
  color: var(--color-card-content);
  background: var(--color-cancel);
}

.button.gray:hover {
  background: #ECEEF0;
}



/* -------------------------------------------------- */
/* BOTÕES DE EDITAR E REMOVER DA LISTA*/
/* -------------------------------------------------- */
.actions{
  display: inline-flex;
  justify-content:center;
  align-items: center;
  gap: 5px;
}

.button-list{
  padding: 0.2rem;
  border-radius: 0.313rem;
  border: 0;

  transition: all .2s;

  cursor:pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------- */
/* BOTÕES DE EDITAR E REMOVER ITEM*/
/* -------------------------------------------------- */

.button-item{
  padding: 0.5rem;
  border-radius: 0.313rem;
  border: 0;
  transition: all .2s;

  cursor:pointer;

  display: inline-flex;
  justify-content:center;
  align-items: center;
}

.button-item.edit{
  margin-right: 0.5rem;
}

.button-item.white {
  background: #FCFDFF;
  border: 1px solid #E1E3E6;
}

.button-item.white:hover {
  background: #F0F2F5;
}
