<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.svg" type="image/png" />
    <title>ToDoList 360</title>
    
    <!-- Estilos da Home-->
    <link rel="stylesheet" href="/styles/partials/home-page/main.css" />
    <link rel="stylesheet" href="/styles/partials/home-page/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/home-page/lists.css" />
    <link rel="stylesheet" href="/styles/partials/home-page/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/home-page/itens.css" />
    <link rel="stylesheet" href="/styles/pages/index.css" />

    <!-- Link Fonte - IBM Plex Sans e Inter -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="scripts/index.js" defer type="module"></script>
  </head>

  <!-- Pagina Home -->
  <body id="page-index">

    <!-- =====================================-->
    <!-- CABEÇALHO -->
    <!-- =====================================-->
    <header class="page-header">
      <!-- Container do header-->
      <div class="container">
        
        <!-- Seção Inicial - Superior -->
        <section id="top" class="animate-up">
          <h2 class="only-recommendation">Homepage</h2>
          
          <!--Logo-->
          <img id="logo" src="/images/logo.svg" alt="Logo"/>
          
          <span id="info-ToDo360">
            <img src="/images/alert-octagon.svg" alt="Alerta" />
            ToDoList V360
            <img id = "pacman" src="/images/PACMAN.svg" alt="Alerta" />
          </span>
          
          <!-- Subseção - Profile -->
          <a href="/profile" id="avatar-profile">
            <p>Fillipe <span>Ver perfil</span> </p>
            <img
              src="https://media-exp1.licdn.com/dms/image/D4E35AQEroDYURewRXg/profile-framedphoto-shrink_800_800/0/1639072813228?e=1643076000&v=beta&t=rItBvDvcyTFHg0IMrYLSF2OfYAVorgHRtnhwIiokeZM"
            />
          </a>
        </section>
        
        <!-- Linha - Separação -->
        <div class="separator"></div>

        <!-- Sumario - Informações e adicionar -->
        <section id="summary" class="animate-up delay-1">
          <h2 class="only-recommendation">Sumário</h2>

          <!-- Informações sobre as listas e itens -->
          <div class="container-info">
            <div class="total">
              <strong>12</strong>
              Tarefas ao total
            </div>
            
            <div class="in-progress">
              <strong>7</strong>
              Pendentes
            </div>
            
            <div class="finished">
              <strong>4</strong>
              Feitas
            </div>
          </div>

          <!-- Button - Add new List -->
          <a class="button orange" href="/list">
            <span>
              <img src="/images/plus-24.svg" alt="Novo Job" /> 
            </span>
            Adicionar uma lista
          </a>
        </section>
      </div>
    </header>

    <!-- =====================================-->
    <!-- LISTAS - Estilo dentro do container -->
    <!-- =====================================-->
    <div class="container">
      <main>
        <h2 class="only-recommendation">Listas</h1>
        
        <!-- Container de listas -->  
        <div class="lists">
          <!-- =====================================-->
          <!-- Lista 01 -->
          <div class="list" data-id="1">
            <!-- Cabeçalho da lista-->
            <div class="header-list"> 
              <!--Container (Id + Titulo)-->
              <div class="container-title-list">
                <div class="id"> 1 </div>
                <div class="name-list"> <%= lists[0].name %> </div>
              </div>
              
              <!--Botões do cabeçalho de cada lista-->
              <div class="actions">
                <p class="only-recommendation">Ações</p>
                
                <a href="/list/edit" class="button-list edit" title="Editar Lista">
                  <span>
                    <img src="/images/edit-list.svg" alt="Editar Lista"/>
                  </span>  
                </a>
                
                <a href="" class="button-list delete" title="Excluir Lista">
                  <span>
                    <img src="/images/trash-list.svg" alt="Excluir Lista" />
                  </span>
                </a>
              </div>
            </div>
            
            <!-- Container de itens-->
            <div class="container-itens">
              <!--Item 01 - Feito-->
              <div class="item green" data-item="1">
                <div class="container-checkbox-title">
                  <!-- Checkbox-->
                  <div class="checkbox">
                    <input type="checkbox" id="check-item" name="item">
                    <span></span>
                    <span>
                      <img src="/images/check.svg" alt="">
                    </span>
                  </div>
                  <!-- Name item-->
                  <div class="name-item done"> to do item </div>
                </div>

                <!--Botões do cada item da lista-->
                <div class="actions">
                  <p class="only-recommendation">Ações</p>
                  <a href="/item/edit" class="button-item white edit" title="Editar Item">
                    <img src="/images/edit-24.svg" alt="Editar Item" />
                  </a>
                  <a href="" class="button-item white delete" title="Excluir Item">
                    <img src="/images/trash-24.svg" alt="Excluir Item" />
                  </a>
                </div>
              </div>

              <!--Item 02 - Em processo-->
              <div class="item roxo" data-item="2"> 
                <div class="container-checkbox-title">
                  <!-- Checkbox-->
                  <div class="checkbox">
                    <input type="checkbox" id="check-item" name="item">
                    <span></span>
                    <span>
                      <img src="/images/check.svg" alt="">
                    </span>
                  </div>
                  <!-- Name item-->
                  <div class="name-item done"> to do item </div>
                </div>

                <!--Botões do cada item da lista-->
                <div class="actions">
                  <p class="only-recommendation">Ações</p>
                  <a href="/item/edit" class="button-item white edit" title="Editar Item">
                    <img src="/images/edit-24.svg" alt="Editar Item" />
                  </a>
                  <a href="" class="button-item white delete" title="Excluir Item">
                    <img src="/images/trash-24.svg" alt="Excluir Item" />
                  </a>
                </div>
              </div>
            </div>
            <!--Botão para adicionar novo item-->
            <a href="/item" class="buttonCard purple">
              <span>
                <img src="/images/plus-24.svg" alt="Novo Job" /> 
              </span>
              Adicionar uma cartão
            </a>
          </div>
        
        </div>
      </main>
    </div>

    
  </body>
</html>
