<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.svg" type="image/png" />
    <title>ToDoList 360</title>
    
    <!-- Pasta com toda estilização da pagina de adicionar item -->
    <link rel="stylesheet" href="/styles/partials/add-edit/main.css" />
    <link rel="stylesheet" href="/styles/partials/add-edit/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/add-edit/cards.css" />
    <link rel="stylesheet" href="/styles/partials/add-edit/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/add-edit/forms.css" />
    <link rel="stylesheet" href="/styles/partials/add-edit/animations.css" />
    <link rel="stylesheet" href="/styles/pages/add-list.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    
  </head>
  <body id="page-list">
    <header class="page-header inner">
      <div class="container animate-up">
        <a href="/" class="back">
          <img src="/images/back.svg" alt="" />
        </a>
        <h1>Adicionar Novo Item</h1>
      </div>
    </header>

    <div class="container flex animate-up delay-2">
      <main>
        <form id="form-list">
          <fieldset>
            <legend>Dados do novo Item</legend>
            <div class="separator light"></div>

            <div class="input-wrapper">
              <label for="name">Insira o titulo do item</label>
              <input type="text" id="name" name="name" />
            </div>

            <div class="input-group">
            </div>
          </fieldset>
    
        </form>
      </main>
      <aside class="card">
        <img src="/images/logo-icon.svg" alt="Logo ToDoList V360">
        <p>
          Preencha os dados ao lado para
          ver o item adicionado
        </p>
        <div class="button-group">
          <button 
            class="button green" 
            form="form-list" 
            type="submit" 
            title="Salvar Dados">Salvar</button>
          <a 
            href="/" 
            class="button gray">
            <img 
              src="/images/trash-24.svg" 
              alt="Cancelar adicao" 
              title="Cancelar adicao">
          </a>
        </div>
      </aside>
      
    </div>
    <!-- end container -->
  </body>
</html>
 